asgiref>=3.8.1
asttokens>=2.4.1
beautifulsoup4>=4.12.3
bleach>=6.1.0
blinker>=1.8.2
cached-property>=1.5.2
certifi>=2024.7.4
cffi>=1.16.0
charset-normalizer>=3.3.2
click>=8.1.7
colorama>=0.4.6
contourpy>=1.2.1
cycler>=0.12.1
decorator>=5.1.1
decouple>=0.0.7
defusedxml>=0.7.1
distlib>=0.3.8
Django>=5.0.7
django-classy-tags>=4.1.0
django-js-asset>=2.2.0
django-mptt>=0.14.0
django-nyt>=1.4
django-sekizai>=4.1.0
djangorestframework>=3.15.2
djangorestframework-jwt>=1.11.0
djangorestframework-simplejwt>=5.3.1
dnspython>=2.6.1
env>=0.1.0
et-xmlfile>=1.1.0
exchangelib>=5.2.1
executing>=2.0.1
filelock>=3.15.4
fonttools>=4.51.0
idna>=3.7
imaplib2>=3.6
ipython>=8.25.0
isodate>=0.6.1
itsdangerous>=2.2.0
jedi>=0.19.1
Jinja2>=3.1.4
kiwisolver>=1.4.5
lark>=1.1.9
lark-parser>=0.12.0
lxml>=5.2.1
Markdown>=3.3.7
MarkupSafe>=2.1.5
matplotlib>=3.8.4
matplotlib-inline>=0.1.7
numpy>=1.26.4
O365>=2.0.35
oauthlib>=3.2.2
openpyxl>=3.1.5
packaging>=24.0
parso>=0.8.4
pillow>=10.2.0
platformdirs>=4.2.2
plotly>=5.22.0
prompt_toolkit>=3.0.45
pure-eval>=0.2.2
pycparser>=2.22
Pygments>=2.17.2
PyJWT>=1.7.1
pyodbc>=5.1.0
pyparsing>=3.1.2
pyspnego>=0.10.2
python-dateutil>=2.9.0.post0
pytz>=2024.1
requests>=2.32.3
requests-ntlm>=1.2.0
requests-oauthlib>=2.0.0
six>=1.16.0
sorl-thumbnail>=12.10.0
soupsieve>=2.5
sqlparse>=0.5.1
sspilib>=0.1.0
stack-data>=0.6.3
stringcase>=1.2.0
tenacity>=8.5.0
tinycss2>=1.2.1
traitlets>=5.14.3
tzdata>=2024.1
tzlocal>=5.2
urllib3>=2.2.2
virtualenv>=20.26.3
wcwidth>=0.2.13
webencodings>=0.5.1
Werkzeug>=3.0.3
wiki>=0.10
