{% block content %}
    {% if view_name == 'reset_password' %}
        <!-- Contenido para la vista de restablecimiento de contraseña -->
    {% elif view_name == 'reset_password_sent' %}
        <!-- Contenido para la vista de confirmación de envío de correo electrónico -->
    {% elif view_name == 'reset_password_confirm' %}
        <!-- Contenido para la vista de confirmación de restablecimiento de contraseña -->
    {% elif view_name == 'reset_password_complete' %}
        <!-- Contenido para la vista de confirmación de restablecimiento completo -->
    {% endif %}
{% endblock %}
